
body {margin:0;}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;
}

.topnav {
  overflow: hidden;
  background-color: #fff;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-bottom: 4px solid orange;
}

.topnav a.active {
  border-bottom: 4px solid orange;
}



div img, div aside {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

div aside {
    left: 50%;
    overflow: hidden;
    box-shadow: -5px 0 0 black;
}

div aside img {
    left: -100%;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
   padding: 10px 10px 0px 10px; 

}

.wrapper
{
	padding-bottom: 90px;
}

.divider
{
	position: relative;
	margin-top: 90px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(71, 72, 76), transparent);
}


*
{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h5
{
  margin:0px;
  font-size:1.1em;
  font-weight:700;
}



.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  position: static;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #f1f1f1;
  position: sticky;
  height: 100%;
   overflow: hidden;
  left:0px;
}

.sidebar a {
  display: block;
  color: black;
  padding: 18px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #E88D00;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;

  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
.top {
    height: 88px;
}
.left {
    width: 178px;
    float:left;
}
.main {
  margin-left:178px;
 }
 #logo{
    position:absolute;
    top:42px; 
    left:20px;
    width:40px;
    height:40px;
    overflow:hidden;
}