<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CourierManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>loginsuccess.jsp</welcome-file>
    <welcome-file>ship.jsp</welcome-file>
    <welcome-file>ship2.jsp</welcome-file>
    <welcome-file>ship3.jsp</welcome-file>
    <welcome-file>courier.jsp</welcome-file>
    <welcome-file>tracking2.jsp</welcome-file>
    <welcome-file>tracking.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginBean</display-name>
    <servlet-name>LoginBean</servlet-name>
    <servlet-class>net.javaguides.login.bean.LoginBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginBean</servlet-name>
    <url-pattern>/LoginBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginDao</display-name>
    <servlet-name>LoginDao</servlet-name>
    <servlet-class>net.javaguides.login.database.LoginDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginDao</servlet-name>
    <url-pattern>/LoginDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>R1</servlet-name>
    <servlet-class>net.javaguides.login.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>R1</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>R2</servlet-name>
    <servlet-class>package1.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>R2</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>R3</servlet-name>
    <servlet-class>package1.RegisterParcel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>R3</servlet-name>
    <url-pattern>/RegisterParcel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>customerparcel</display-name>
    <servlet-name>customerparcel</servlet-name>
    <servlet-class>package1.customerparcel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customerparcel</servlet-name>
    <url-pattern>/customerparcel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>R4</servlet-name>
    <servlet-class>package1.RegisterCourier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>R4</servlet-name>
    <url-pattern>/RegisterCourier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Assign</display-name>
    <servlet-name>R5</servlet-name>
    <servlet-class>package1.Assign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>R5</servlet-name>
    <url-pattern>/Assign</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTracking</display-name>
    <servlet-name>R6</servlet-name>
    <servlet-class>package1.UpdateTracking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>R6</servlet-name>
    <url-pattern>/UpdateTracking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterShip</display-name>
    <servlet-name>R7</servlet-name>
    <servlet-class>package1.RegisterShip</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>R7</servlet-name>
    <url-pattern>/RegisterShip</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>R8</servlet-name>
    <servlet-class>package1.editcourierr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>R8</servlet-name>
    <url-pattern>/editcourierr</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>R9</servlet-name>
    <servlet-class>package1.deletecour</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>R9</servlet-name>
    <url-pattern>/deletecour</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>R10</servlet-name>
    <servlet-class>package1.deleteparc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>R10</servlet-name>
    <url-pattern>/deleteparc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>R11</servlet-name>
    <servlet-class>package1.editPAR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>R11</servlet-name>
    <url-pattern>/editPAR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteparc2</display-name>
    <servlet-name>R12</servlet-name>
    <servlet-class>package1.deleteparc2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>R12</servlet-name>
    <url-pattern>/deleteparc2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>track</display-name>
    <servlet-name>R13</servlet-name>
    <servlet-class>package1.track</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>R13</servlet-name>
    <url-pattern>/track</url-pattern>
  </servlet-mapping>
</web-app>